body {
    margin: 0;
    padding: 0;
    background: darkgray;
    box-sizing: border-box;
}

h1 {
    color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}

.diamante{
    border-style: solid;
    border-color: transparent transparent aqua transparent;
    border-width: 0 25px 25px 25px;
    height: 0;
    width: 50px;
    box-sizing: content-box;
    position: relative;
    margin: 20px 0 50px 0;
}

.diamante::after{
    content: '';
    position: absolute;
    top: 25px;
    left: -25px;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: aqua transparent transparent transparent;
    border-width:  70px 50px 0 50px;
}